<!DOCTYPE html>
<html>

<head>
  <title>Upload file to S3</title>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div>
      <b-navbar toggleable="sm" type="dark" variant="dark">

        <b-navbar-brand>BBVA</b-navbar-brand>

        <b-collapse id="nav-text-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="index.html">Cargar audio</b-nav-item>
            <b-nav-item href="dashboard.html">Dashboard</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <br>
    <!-- <h1 id="titulo">Avengers Speech Analytics</h1> -->
    <h1>Avengers Speech Analytics</h1>
    <br>
    <br>
    
    <div v-if="!audio">
      <!-- <h3>Selecciona un audio</h3> -->
      <!-- <input id="file" type="file" @change="onFileChange">-->

      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file" @change="onFileChange">
          <label class="custom-file-label" for="file">Selecciona un archivo</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" @change="onFileChange">Cargar</button>
        </div>
      </div>

    </div>
    <div v-else>
      <audio controls>
        <source :src="audio" type="audio/wav">
        Tu navegador no soporta ese tipo de audio.
      </audio><br>
      <b-button v-if="!uploadURL" @click="removeAudio">Eliminar audio</b-button>
      <b-button v-if="!uploadURL" @click="uploadAudio">Cargar audio</b-button>
    </div>
    <h2 v-if="uploadURL">El audio ha sido cargado al bucket exitosamente! El resultado se ha actualizado en el <a
        href="dashboard.html">dashboard</a>.</h2>
        <b-button v-if="uploadURL" @click="refreshPage()">Cargar otro audio</b-button>
        <br>
    <br>
    <br>
    <br>
  </div>
  
  <div class="card-footer text-muted">
    Equipo Avengers conformado por :  David Jurado | Julieth Lopez | Mateo Marin | Diana Torres
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        audio: '',
        uploadURL: ''
      },
      methods: {
        onFileChange(e) {
          let files = e.target.files || e.dataTransfer.files
          if (!files.length) return
          this.createAudio(files[0])
        },
        createAudio(file) {
          // var audio = new audio()
          let reader = new FileReader()
          reader.fileName = file.name
          reader.onload = (e) => {

            console.log('length: ', e.target.result.includes('data:audio/wav'))
            if (!e.target.result.includes('data:audio/wav')) {
              return alert('Wrong file type - wav only.')
            }
            this.audio = e.target.result
            this.audio_name = e.target.fileName
            console.log('name: ', this.audio_name)
          }
          reader.readAsDataURL(file)
        },
        removeAudio: function (e) {
          console.log('Remove clicked')
          this.audio = ''
        },
        uploadAudio: async function (e) {
          console.log('Upload clicked')
          // Get the presigned URL
          var obj = {};
          obj['audio_name'] = this.audio_name;
          const response = await axios({
            method: 'POST',
            url: 'https://onpd2y91wi.execute-api.us-east-1.amazonaws.com/default/getPresignedURL',
            data: obj
          })
          console.log('Response: ', response)
          console.log('Uploading: ', this.audio)
          let binary = atob(this.audio.split(',')[1])
          let array = []
          for (var i = 0; i < binary.length; i++) {
            array.push(binary.charCodeAt(i))
          }
          let blobData = new Blob([new Uint8Array(array)], { type: 'audio/wav' })
          console.log('Uploading to: ', response.uploadURL)
          const result = await fetch(response.uploadURL, {
            method: 'PUT',
            body: blobData
          })
          console.log('Result: ', result)
          // Final URL for the user doesn't need the query string params
          this.uploadURL = response.uploadURL.split('?')[0]
          if (!this.uploadURL) {
            return alert('Upload failed')
          }
        },
        refreshPage() {
          console.log("refresh")
          window.location.reload();
          console.log("refreshcado")
        }
      }
    })
  </script>
  <style type="text/css">
    body {
      background:  #f4f4f4;
      padding: 20px;
      font-family: sans-serif;
    }

    #app {
      background: #fff;
      border-radius: 4px;
      padding: 20px;
      transition: all 0.2s;
      text-align: center;
    }

    #logo {
      width: 100px;
    }

    #file{
      color: #072146;
    }

  

    h1 {
      font-weight: normal;
      margin-bottom: 15px;
      color: #072146;
    }


  </style>


   
  </style>
</body>

</html>